body {
  text-align: center;
  background-color: #E8F6EF;
  text-align: center;
  line-height: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.top-container{
    background-color: #FFC2B4;
    position: relative;
    padding-top: 100px;
}
.middle-coontainer{
  margin: 100px 0 100px 0;
}
.bottom-container{
  background-color: #FF8882;
  padding: 50px 0 20px;
  margin-top: 50px;
}

hr{
  border:dotted #194350 10px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}
h1 {
  font-size: 5.626rem;
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
  color: #1687A7;
}
.pro {
    text-decoration:underline;
}
.intro {
  width: 30%;
  margin:auto;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #1687A7;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color:#276678;
}
p{
  line-height: 2;
  font-size: 1.1rem;
}
.contact-message{
  width:40%;
  margin: 40px auto 60px;
}
.pic1 {
  position: relative;
  width:25%;
  margin:0;
  right:25%;

}
.profilepic {
  position: relative;
  height: 200px;
  width: 200px;
}
.skill-row{
  width: 50%;
  margin:100px auto 200px auto;
  text-align: left;
}
.skillpic1{
  width:25%;
  float:left;
  margin-right: 30px;
}
.skillpic2{
  width:25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #FF6767;
  background-image: -webkit-linear-gradient(top, #FF6767, #FF3D68);
  background-image: -moz-linear-gradient(top, #FF6767, #FF3D68);
  background-image: -ms-linear-gradient(top, #FF6767, #FF3D68);
  background-image: -o-linear-gradient(top, #FF6767, #FF3D68);
  background-image: linear-gradient(to bottom, #FF6767, #FF3D68);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FFC2B4;
  background-image: -webkit-linear-gradient(top, #FFC2B4, #FF8882);
  background-image: -moz-linear-gradient(top, #FFC2B4, #FF8882);
  background-image: -ms-linear-gradient(top, #FFC2B4, #FF8882);
  background-image: -o-linear-gradient(top, #FFC2B4, #FF8882);
  background-image: linear-gradient(to bottom, #FFC2B4, #FF8882);
  text-decoration: none;
}a{
  font-family: "Montserrat", sans-serif;
  color:#FF3D68;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #E8F6EF;
}
.copyright{
  color: #E8F6EF;
  font-size: 0.75rem;
  padding: 20px 0 0 0;
}
